* {
  box-sizing: border-box;
}

body {
  background-color: #001c37;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  gap: 30px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.wrong-letters-container {
  min-width: 100px;
}

.figure-part {
  display: none;
}
.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 20px;
}

.word__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.word {
  display: flex;
}

.letter {
  border-bottom: 3px solid #00f2ff;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.keyboard__wrapper {
  display: grid;
  place-content: center;
  margin-top: 50px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  font-size: 24px;
  gap: 10px;
  border: 1px solid #00f2ff;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #00f2ff23;
  display: none;
}

.keyboard .key {
  background-color: #00f2ff;
  width: 30px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #001c37;
  user-select: none;
  color: #001c37;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.keyboard .key:hover {
  background-color: #001c37;
  color: #00f2ff;
  border: 1px solid #00f2ff;
}

.notification-container {
  background-color: rgba(238, 0, 255, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}

@media (max-width: 500px) {
  .word__container {
    margin-top: 20px;
  }
}
